Jupiter/app/build
Jupiter/.gradle/
Jupiter/build

Jupiter/com_crashlytics_export_strings.xml

Jupiter/local.properties

Jupiter/.signing/

Jupiter/.idea/
Jupiter/.idea/libraries/
Jupiter/.idea/caches/
Jupiter/*.iml
*.iml

# OS-specific files
Jupiter/.DS_Store
Jupiter/.DS_Store?
Jupiter/._*
Jupiter/.Spotlight-V100
Jupiter/.Trashes
Jupiter/ehthumbs.db
Jupiter/Thumbs.db
Jupiter/app/release
Jupiter/.project
Jupiter/.settings
Jupiter/leancloudchatkit/build
