Jupiter/app/build
Jupiter/.gradle/
Jupiter/build

Jupiter/com_crashlytics_export_strings.xml

Jupiter/local.properties

Jupiter/.signing/

Jupiter/.idea/libraries/
Jupiter/.idea/workspace.xml
Jupiter/.idea/tasks.xml
Jupiter/.idea/.name
Jupiter/.idea/compiler.xml
Jupiter/.idea/copyright/profiles_settings.xml
Jupiter/.idea/encodings.xml
Jupiter/.idea/misc.xml
Jupiter/.idea/modules.xml
Jupiter/.idea/scopes/scope_settings.xml
Jupiter/.idea/vcs.xml
Jupiter/*.iml

# OS-specific files
Jupiter/.DS_Store
Jupiter/.DS_Store?
Jupiter/._*
Jupiter/.Spotlight-V100
Jupiter/.Trashes
Jupiter/ehthumbs.db
Jupiter/Thumbs.db