<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ust.jupiter.jupiter">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="materiallogin.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.actions"
            android:resource="@drawable/tab_color" />

        <activity
            android:name="materiallogin.BottomMenu"
            android:label="@string/title_activity_bottom_menu" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name="materiallogin.RegisterActivity"
            android:theme="@style/Translucent" />
        <activity android:name="materiallogin.LoginSuccessActivity" />
        <activity android:name="materiallogin.RegSuccessActivity" />
        <activity
            android:name="materiallogin.MainActivity"
            android:label="@string/app_name">

        </activity>
        <activity android:name="materiallogin.ChatsActivity" />
        <activity android:name="materiallogin.ChatActivity" />
        <activity android:name="materiallogin.UserActivity" />
        <activity android:name="materiallogin.ShangjiaActivity" />
        <activity android:name="materiallogin.ShangjiaFBActivity" />
        <activity android:name="materiallogin.ShangjiaPRActivity" />
        <activity android:name="materiallogin.XsActivity" />
    </application>

</manifest>